# Xcode
*.xcuserdatad/
xcuserdata/
xcshareddata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/

# Build
build/
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
.DS_Store
*.swp
*.swo
*~
